
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu li{
    display: inline;
}

nav.menu{
    display: flex;
    justify-content: space-between;
}

.center{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1fr;
}

#logo{
    grid-column: 2;
    grid-row:1;
}

form{
    grid-column: 2;
    grid-row: 2;
}

